<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Guestbook{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <h1><a href="index.php">Guestbook</a></h1>

</head>
<body>
<div class="container">

        {% if result_add_post %}
            <div class="alert alert-success" role="alert">
                Post added!
            </div>
        {% elseif email_validation == false and result_add_post == false and is_post_add == true %}
            <div class="alert alert-danger" role="alert">
                Email is invalid. Please enter a valid email.
            </div>
        {% elseif email_validation == true and result_add_post == false and is_post_add == true %}
            <div class="alert alert-danger" role="alert">
                You did not enter in all the required information!
            </div>
        {% elseif result_delete_post %}
            <div class="alert alert-success" role="alert">
                Post deleted!
            </div>
        {% elseif result_delete_post == false and is_post_delete == true %}
            <div class="alert alert-danger" role="alert">
                Post not deleted!
            </div>
        {% elseif result_edit_post %}
            <div class="alert alert-success" role="alert">
                Post edited!
            </div>
        {% elseif result_edit_post == false and is_post_edit == true %}
            <div class="alert alert-danger" role="alert">
                Post not edited! Please fill in all the required information.
            </div>
        {% endif %}

    <div id="col1">
        <h2>Add to the Guestbook here!</h2>
        <hr/>
        {# form to add post to guestbook #}
        <form action="index.php" method='post'>
            <table>
                <tr>
                    <td>Name: </td>
                    <td><input type='text' name='name' style='width: 250px;'/></td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><input type='text' name='email' style='width: 250px;'/></td>
                </tr>
                <tr>
                    <td>Message: </td>
                    <td><textarea name='message' style='width: 250px; height: 100px;'></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button name='postbtn'>Post</button></td>
                </tr>
            </table>
        </form>
    </div>

    <div id="col2">
        <div id="posts_list">
            <h2>Current Posts</h2>
            {% if num_rows > 0 %}
                <hr/>
                    {% for i in range(0, row_limit_pagination-1) %}

                        {# display posts, edit & delete btn #}
                        <div><form action="index.php" method="post">
                            <button name='editbtn'>Edit</button>
                            <button name='deletebtn'>Delete</button>
                            By <b>{{ row[i].name }}</b> - at <b>{{ row[i].time }}</b> on
                                <b>{{ row[i].date }} </b>
                            <input type='text' name='message' value='{{ row[i].message }}'/>
                            <input type='hidden' name='id' value='{{ row[i].id }}'/></form>
                        </div><hr/>

                {% endfor %}
            {% endif %}

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {% if page == 1 %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="index.php?page={{ page-1 }}">Previous</a>
                        </li>
                    {% endif %}

                    {% for page in range (1, num_of_pages) %}
                        <li class="page-item"><a class="page-link" href="index.php?page={{ page }}">
                                {{ page }}</a></li>
                    {% endfor %}

                    {% if page == num_of_pages %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="index.php?page={{ page+1 }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>