<!DOCTYPE html>
<html>
<head xmlns="http://www.w3.org/1999/html" xmlns:style="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Guestbook{% endblock %}</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <h1><a href="posts.php">Guestbook</a></h1>

</head>
<body>
<div class="container">

    {% if session.delete is defined %}
        <div class="alert alert-success" role="alert">
            {{ session.delete }}
        </div>
    {% elseif session.add is defined %}
        <div class="alert alert-success" role="alert">
            {{ session.add }}
        </div>
    {% elseif session.edit is defined %}
        <div class="alert alert-success" role="alert">
            {{ session.edit }}
        </div>
    {% elseif session.add_file is defined %}
        <div class="alert alert-success" role="alert">
            {{ session.add_file }}
        </div>
    {% elseif session.add_fail is defined %}
        <div class="alert alert-danger" role="alert">
            {{ session.add_fail }}
        </div>
    {% elseif session.edit_fail is defined %}
        <div class="alert alert-danger" role="alert">
            {{ session.edit_fail }}
        </div>
    {% elseif session.delete_fail is defined %}
        <div class="alert alert-danger" role="alert">
            {{ session.delete_fail }}
        </div>
    {% elseif session.add_file_fail is defined %}
        <div class="alert alert-danger" role="alert">
            {{ session.add_file_fail }}
        </div>
    {% elseif session.add_fail_info is defined %}
        <div class="alert alert-danger" role="alert">
            {{ session.add_fail_info }}
        </div>
    {% elseif session.add_file_fail_ext is defined %}
        <div class="alert alert-danger" role="alert">
            {{ session.add_file_fail_ext }}
        </div>
    {% elseif session.email_invalid is defined %}
        <div class="alert alert-danger" role="alert">
            {{ session.email_invalid }}
        </div>
    {% endif %}

    <div id="col1">
        <h2 >Hello, {{ name }}!
            <a class="signout" style=" font-size: 11px; color: blue" name="signout" href="logout.php" >Sign Out</a>
        </h2>
        <hr/>
        {# form to add post to guestbook #}
        <form id="posts" enctype="multipart/form-data" action="posts.php" method='post'>
            <table class="change_size">
                <tr>
                    <textarea name='message' style='width: 100%; height: 150%;'
                                  placeholder="Write your message here.. (required)" required></textarea>
                </tr>
            </table>

            <br/>
            <table class="change_size">
                <tr>
                    <td>Upload your file: </td>
                </tr>
                <tr>
                    <td><input type="file" name="uploaded_file"><br /></td>
                </tr>
                <tr>
                    <div> <button style="margin-top: 10px" name='postbtn'>Post</button></div>
                </tr>
            </table>
        </form>
    </div>

    <div id="col2">
        <div id="posts_list">
            <h2>Current Posts</h2>
            {% if num_rows > 0 %}
                <hr/>
                    {% for i in range(0, row_limit_pagination-1) %}
                        {# display posts, edit & delete btn #}
                        <div><form action="posts.php" method="post">
                            <div class="action-button">
                                <button style="margin-bottom: 10px" name="editbtn">Edit</button>
                                <button style="display: block; margin-right: 4px" class="deletebtn" name="deletebtn">Delete</button>
                            </div>
                            By <b>{{ row[i].name }}</b> - at <b>{{ row[i].time }}</b> on
                                <b>{{ row[i].date }} </b> <br/>
                            {% if row[i].image is not null %}
                                {% if row[i].type == "image" %}
                                    <img id="myImg" class="noStretch" src="uploads/{{ row[i].image }}" alt="image"/>
                                    <div id="myModal" class="modal">
                                        <span class="close">&times;</span>
                                        <img class="modal-content" id="img01">
                                    </div>
                                {% elseif row[i].type == "video"%}
                                    <video width="350" height="200" controls>
                                        <source src="uploads/{{ row[i].image }}" type="video/mp4">
                                    </video>
                                {% elseif row[i].type == "audio" %}
                                    <audio cotrols>
                                        <source src="uploads/{{ row[i].image }}" type="audio/mpeg"/>
                                    </audio>
                                {% endif %}
                            {% endif %}
                            <input type='text' name='message' value='{{ row[i].message }}' required/>
                            <input type='hidden' name='id' value='{{ row[i].id }}'/></form>
                        </div><hr/>

                {% endfor %}
            {% endif %}

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {% if page == 1 %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="posts.php?page={{ page-1 }}">Previous</a>
                        </li>
                    {% endif %}

                    {% set currentPage = page %}
                    {% for page in range (1, num_of_pages) %}
                        {% if page == currentPage %}
                            <li class="page-item active">
                                <a class="page-link" href="posts.php?page={{ page }}">
                                    {{ page }}<span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="posts.php?page={{ page }}">
                                    {{ page }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page == num_of_pages %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="posts.php?page={{ page+1 }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
       $('.deletebtn').on('click', function (e) {
           let status = confirm('Are you sure you want to delete this post?');
           if (!status){
               e.preventDefault();
               return false;
           }
       })
    });
</script>

<script type="text/javascript">
    $(function(){
        $('.signout').on('click', function (f) {
            let status = confirm('Are you sure you want to sign out?');
            if (!status){
                f.preventDefault();
                return false;
            }
        })
    });
</script>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    //var captionText = document.getElementById("caption");
    img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    //captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
</script>
</body>

<footer>
    Total posts: {{ num_rows }} <br />
</footer>